<% include ./partials/header %>
<div class="row">
    <h1 style="text-align: center">Login</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/reset/<%= token %>" method="POST">
            <legend>Reset Password</legend>
            <div class="form-group">
                <label for="password[new]">New Password</label>
                <input class="form-control" type="password" name="password[new]" placeholder="New password" required>
            </div>
            <div class="form-group">
                <label for="password[confirm]">Confirm Password</label>
                <input class="form-control" type="password" name="password[confirm]" placeholder="confirm your new password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update Password</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ./partials/footer %>

