

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#deleteForm {
    display: inline;
}

/* Google Maps */
#map {
    height: 300px;
    width: 100%;
}
