<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Become an administrator request <%=user.username%></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/users/<%=user.id%>" method="post">
                <div class="form-group">
                    <label for="adminCode">Administrator code</label>
                    <input class="form-control" type="text" name="adminCode" placeholder="Type your administrator code here">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

